{% extends 'layout.html' %}

{% block content %}
  <div class="content-section">
    <form class="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create New Quiz</legend>
        <div class="form-group">
              {{ form.quizname.label(class="form-control-label") }}
              {{ form.quizname(class="form-control-lg") }}
        </div>
        <div class="form-group">
              {{ form.quiztitle.label(class="form-control-label") }}
              {{ form.quiztitle(class="form-control-lg") }}
        </div>
      </fieldset>
      <fieldset>
      <div class="form-group">
        {{ form.result1.label(class="form-control-label")}}
        {{ form.result1(class="form-control-label")}}
      </div>
      <div class="form-group">
        {{ form.result2.label(class="form-control-label")}}
        {{ form.result2(class="form-control-label")}}
      </div>
      <div class="form-group">
        {{ form.result3.label(class="form-control-label")}}
        {{ form.result3(class="form-control-label")}}
      </div>

      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock %}
