{% extends 'layout-nonav.html' %}

{% block content %}
<div class="container">
<div class="justify-content-center">

<form class="" method="POST">
  <small>{{ quiz.quizname }}</small>
  <h2 class="border-bottom mb-4 text-center">{{ question.qtext }}</h2>
  {% if question.qpic %}
    <img src="{{ url_for('static', filename='images/' + question.qpic) }}" alt="" class="mb-3 rounded mx-auto d-block img-fluid">
  {% endif %}
  <div class="btn-group-toggle btn-block mb-3" data-toggle="buttons">
  {% for option in options %}

    <label class="btn btn-outline-secondary btn-block" for="{{ option.id }}">
      <input type="radio" id="{{ option.id }}" value="{{ option.id }}" name="options" class=""> {{ option.atext }}
    </label>

  {% endfor %}
  </div>
<button type="submit" name="button" class="btn btn-light btn-lg btn-block">Submit</button>
</form>
</div>
</div>

{% endblock content%}
